CREATE TABLE IF NOT EXISTS paypal_orders (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  reference text UNIQUE NOT NULL,
  brand_id uuid REFERENCES brands(id),
  email text,
  plan text NOT NULL,
  months integer NOT NULL,
  amount_cop numeric NOT NULL,
  trm numeric NOT NULL,
  amount_usd_expected numeric NOT NULL,
  order_id text,
  status text DEFAULT 'pending',
  created_at timestamptz DEFAULT now()
);
ALTER TABLE paypal_orders DISABLE ROW LEVEL SECURITY;
